.LeftNav {
    width: 5rem;
    height: 100vh;
    background-color: var(--cinder);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LeftNav ul {
    margin: 0 1rem 0 1rem;
    color: red;
}

.LeftNav ul {
    line-height: 2rem;
}

.LeftNav ul li {
    background-color: var(--white);
    margin-top: 1rem;
    height: 3rem;
    line-height: 3.5rem;
    border-radius: 6px;
}

.copyRight {
    color: var(--white);
    transform: rotate(90deg);
    font-size: 0.8rem;
    width: 10rem;
    line-height: 5rem;
    margin-left: -50%;
}