.TopNav {
    height: 4rem;
    background-color: var(--cinder);
    width: 100%;

}

.TopNav,
.TopNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TopNav ul {
    width: 90%;
}


.TopNav ul,
.TopNav ul li,
.TopNav ul li a {
    height: 100%;
}

.TopNav ul li a {
    color: white;
    text-decoration: none;
    line-height: 4rem;
    display: inline-block;
}

.TopNav>.logo {
    position: relative;
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 10%;
    box-sizing: border-box;
}

.TopNav>.logo img {
    height: 100%;
    float: left;
}